.achieved {
  font-size: 60%;
}

div.aid p {
  margin-bottom: 10px;
}

body {
  padding: 5px;
  font-family: sans-serif;
}

button {
  color: black;
  cursor: pointer;
  background: white;
  border: 1px solid gainsboro;
  margin-bottom: 5px;
  padding: 3px 5px;
  border-radius: 3px;
}

button:disabled {
  color: grey;
  cursor: default;
}

button:disabled * {
  color: grey;
}

.card {
  background: white;
  border: 1px solid gainsboro;
  display: inline-block;
  margin: 0 5px 5px 0;
  padding: 5px 5px 5px 5px;
  border-radius: 3px;
}

.card p  {
  margin: 0;
}

.card p + p {
  margin-top: 10px;
}

.card button {
  margin: 0;
}

.card form {
  margin-top: 5px 
}

.card h3 {
  margin-top: 0;
}

.card i {
  display: block;
  margin-bottom: 10px;
}

.done {
  color: green;
}

.failed {
  color: red;
}

.hand {
  display: flex;
  flex-wrap: wrap;
}

h1, h2, h3, h4, h5, h6 {
  font-family: monospace;
  margin-bottom: 5px;
}

h3 {
  margin-top: 10px;
}

.id {
  font-family: monospace;
  font-size: 125%;
}

.inline > * {
  display: inline;
}

.inline button {
  margin: 0;
}

.operations {
  display: flex;
}

.phase {
  margin-bottom : 10px;
}

table {
  margin: 5px 0;
  vertical-align: middle;
}

table button {
  margin: 0;
  font-size: 60%;
}

td * {
  vertical-align: middle;
}

td .card {
  font-size: 60%;
  padding: 2px;
  border-radius: 1px;
  white-space: nowrap;
}

td, th {
  padding: 0 5px 3px 0;
  text-align: center;
  vertical-align: middle;
}

th {
  font-family: monospace;
  font-weight: bold;
}
